@import "tailwindcss";

@theme {
  --color-on-background: #1a1c1c;
  --color-surface-container-high: #e8e8e8;
  --color-on-secondary: #ffffff;
  --color-error: #ba1a1a;
  --color-primary-fixed-dim: #a1c9ff;
  --color-on-secondary-container: #235582;
  --color-primary-container: #2a6099;
  --color-surface: #f9f9f9;
  --color-surface-container: #eeeeee;
  --color-inverse-on-surface: #f1f1f1;
  --color-secondary-fixed-dim: #9dcafe;
  --color-tertiary-container: #5e5e5e;
  --color-on-tertiary-container: #dad8d7;
  --color-surface-bright: #f9f9f9;
  --color-primary: #014880;
  --color-on-error-container: #93000a;
  --color-on-primary: #ffffff;
  --color-on-tertiary: #ffffff;
  --color-surface-variant: #e2e2e2;
  --color-inverse-primary: #a1c9ff;
  --color-on-secondary-fixed: #001d35;
  --color-on-error: #ffffff;
  --color-surface-container-low: #f4f3f3;
  --color-secondary-fixed: #d0e4ff;
  --color-secondary: #31618f;
  --color-on-primary-container: #c1daff;
  --color-on-tertiary-fixed-variant: #474747;
  --color-on-surface: #1a1c1c;
  --color-tertiary-fixed: #e4e2e1;
  --color-on-surface-variant: #424750;
  --color-on-primary-fixed-variant: #024880;
  --color-surface-dim: #dadada;
  --color-background: #f9f9f9;
  --color-surface-container-highest: #e2e2e2;
  --color-tertiary: #464646;
  --color-surface-container-lowest: #ffffff;
  --color-on-tertiary-fixed: #1b1c1c;
  --color-primary-fixed: #d3e4ff;
  --color-error-container: #ffdad6;
  --color-on-primary-fixed: #001c38;
  --color-inverse-surface: #2f3131;
  --color-tertiary-fixed-dim: #c8c6c6;
  --color-on-secondary-fixed-variant: #114976;
  --color-outline-variant: #c2c7d1;
  --color-secondary-container: #9dcafe;
  --color-surface-tint: #2a6099;
  --color-outline: #727781;

  --font-headline: "Inter", sans-serif;
  --font-body: "Noto Serif", serif;
  --font-label: "Inter", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

body {
  background-color: #f9f9f9;
  color: #1a1c1c;
}

.timeline-line::before {
  content: '';
  position: absolute;
  left: -25px;
  top: 8px;
  bottom: -40px;
  width: 2px;
  background-color: #e2e2e2;
}

.timeline-dot::after {
  content: '';
  position: absolute;
  left: -29px;
  top: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #014880;
  border: 2px solid #ffffff;
  z-index: 10;
}

